/* container-fluid styles*/
.container-fluid {
    margin-top: 4%;
    margin-bottom: 4% ;
    width:95%;
    height: auto;
}
.column{
    margin-left: 2%;
    margin-right: auto;
}

/*styles for nav bar*/
.navbar {
    background-color:#1e407c !important;

}
.navbar-brand{
    color:whitesmoke;
}
.navbar-brand:hover{
    color:darkgrey;
}
.nav-link {
    color: black;
}
.nav-link:hover{
    color:darkgray !important;
}


.link {
    color: black;
    font-weight:bold;
    text-decoration: none;
}
.link:hover{
    /*color: !important;*/
    text-decoration: none;
}
.dropdown-menu {
    background-color:whitesmoke !important;
}

.dropdown-item {
    background-color: #1e407c;
    color: whitesmoke;
}
.dropdown-item:hover{
    background-color: brown;
    color: darkgrey;
}
/*styles for selfimage */

#selfimage {
    width: 90%;
    display: block;
}
/****styles for sidebar *****/
/*.sidebar {*/
/*    position: fixed;*/
/*    top: 4%;*/
/*    bottom: 7%;*/
/*    left: 0;*/
/*    z-index: 1000;*/
/*    !*display: block;*!*/
/*    padding: 20px;*/
/*    overflow-x: hidden;*/
/*    overflow-y: auto; !* Scrollable contents if viewport is shorter than content. *!*/
/*    !*background-color: #f5f5f5;*!*/
/*    !*border-right: 1px solid #eee;*!*/
/*}*/
/*styles for footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1e407c ;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-size: 0.6rem;
}

/*******************CSS for jumbotron**********************************/
/*.main-jumbotron {
    background-image: url("../image/");
    background-color: ;
    background-size: cover;
    color:brown;
}
*/

.teaching-jumbotron{
    background-image: url("../image/teaching1.jpg");
    background-size: cover;
    padding-top: 20%;
    padding-left: 5%;
    padding-bottom: 1%;
    color:whitesmoke;
}

.project-jumbotron{
    background-image: url("../image/research.jpg");
    background-size: cover;
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 5%;
    color:rgb(0, 0, 0);
}

/* button and contnent display*/
/*#myDIV{*/
/*    display: none;*/

/*}*/
/*.button{*/
/*    font-size: 18px;*/
/*    border: none;*/
/*    font-weight: 500;*/
/*    padding: 8px 14px;*/
/*    background-color: whitesmoke ;*/
/*    border-radius: 6px;*/
/*}*/
/*.button:hover {*/
/*    background-color: #D3D3D3;*/
/*    transition-duration: 0.4s;*/
/*    border: none;*/
/*}*/