/* container-fluid styles*/
.container-fluid {
    margin-top: 4%;
    margin-bottom: 4% ;
    width:95%;
    height: auto;
}
.column{
    margin-left: 2%;
    margin-right: auto;
}

/*styles for nav bar*/
.navbar {
    background-color: #791cb5 !important;

}
.navbar-brand{
    color:whitesmoke;
}
.navbar-brand:hover{
    color:darkgrey;
}
.nav-link {
    color: black;
}
.nav-link:hover{
    color:#f0cd06 !important;
    /* text-decoration-color: blanchedalmond; */
}
.nav-link-c{
    color: black;
}
.nav-link-c:hover{
    color:  #791cb5;
}
/* adjust the item space*/
.nav-pills .nav-item {
    margin-bottom: 10px; /* Adjusts the spacing between each item */
}

.nav-link-c {
    display: flex;
    align-items: center;
    font-size: 1rem; /* Adjust the font size if necessary */
}



.link {
    color: black;
    font-weight:bold;
    text-decoration: none;
}
.link:hover{
    /*color: !important;*/
    color: #791cb5;
    text-decoration: none;
}
.dropdown-menu {
    background-color:whitesmoke !important;
}

.dropdown-item {
    background-color: #791cb5;
    color: whitesmoke;
}
.dropdown-item:hover{
    background-color: brown;
    color: darkgrey;
}
/*styles for selfimage */

#selfimage {
    width: 90%;
    display: block;
}
/****styles for sidebar *****/
/*.sidebar {*/
/*    position: fixed;*/
/*    top: 4%;*/
/*    bottom: 7%;*/
/*    left: 0;*/
/*    z-index: 1000;*/
/*    !*display: block;*!*/
/*    padding: 20px;*/
/*    overflow-x: hidden;*/
/*    overflow-y: auto; !* Scrollable contents if viewport is shorter than content. *!*/
/*    !*background-color: #f5f5f5;*!*/
/*    !*border-right: 1px solid #eee;*!*/
/*}*/
/*styles for footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #791cb5;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    font-size: 0.6rem;
}

/*******************CSS for jumbotron**********************************/
/*.main-jumbotron {
    background-image: url("../image/");
    background-color: ;
    background-size: cover;
    color:brown;
}
*/

.teaching-jumbotron{
    background-image: url("../image/teaching1.jpg");
    background-size: cover;
    padding-top: 20%;
    padding-left: 5%;
    padding-bottom: 1%;
    color:whitesmoke;
}

.project-jumbotron{
    /* background-image: url("../image/research.jpg"); */
    background-color: #e6cbf7;
    background-size: cover;
    padding-top: 5%;
    padding-left: 3%;
    padding-bottom: 5%;
    color:rgb(0, 0, 0);
}


/*}*/
/*.button{*/
/*    font-size: 18px;*/
/*    border: none;*/
/*    font-weight: 500;*/
/*    padding: 8px 14px;*/
/*    background-color: whitesmoke ;*/
/*    border-radius: 6px;*/
/*}*/
/*.button:hover {*/
/*    background-color: #D3D3D3;*/
/*    transition-duration: 0.4s;*/
/*    border: none;*/
/*}*/